* {
    padding: 0px;
    margin: 0px;
}


form button {
    margin-top: 1em;
    float: right;
    margin-right: 4em;
}

form {
    margin-bottom: 2em;
    width: 20em;
    background-color: cornflowerblue;
    padding: 5px;
}

form label{
    float: left;
    width: 6em;
}

form label, input {
    padding: 5px;
}

#tooltip {
    position: absolute;
    top: 200px;
    left: 200px;
    z-index: 1;
    visibility: hidden;    
    border: 1px solid black;
    padding: 10px;
    background-color: greenyellow;
}
